<!-- After Navbar -->
<div class="bg-art-one py-4">
  <h1 class="container my-4">Our Locations</h1>

  <div class="container mt-4">
    <section class="location-section">
      <div class="location-content">
        <h2>Our geographical location 1</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ipsam
          rem, itaque harum nihil accusamus magnam sequi illum odio vero
          asperiores modi laboriosam voluptate blanditiis enim, dolore dolorem
          sunt perspiciatis!
        </p>
        <p>Address: Medina Street, Riyadh, Kingdom of Saudi Arabia</p>
        <p>Phone: +966 112 345 678</p>
        <p>E-mail: info&#64;example.com</p>
      </div>
    </section>

    <section class="map-section">
      <div class="map-container">
        <iframe
          id="iFrame"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.6027326916825!2d46.6729113150004!3d24.81343758407415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2ee3e9c6743a89%3A0x409ce32b323b2d0!2sRiyadh%20Front!5e0!3m2!1sen!2ssa!4v1625555555555!5m2!1sen!2ssa"
          allowfullscreen=""
          loading="lazy"
        >
        </iframe>
      </div>
    </section>
  </div>
  <br />
  <div class="container mt-4">
    <section class="location-section">
      <div class="location-content">
        <h2>Our geographical location 1</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ipsam
          rem, itaque harum nihil accusamus magnam sequi illum odio vero
          asperiores modi laboriosam voluptate blanditiis enim, dolore dolorem
          sunt perspiciatis!
        </p>
        <p>Address: Medina Street, Riyadh, Kingdom of Saudi Arabia</p>
        <p>Phone: +966 112 345 678</p>
        <p>E-mail: info&#64;example.com</p>
      </div>
    </section>

    <section class="map-section">
      <div class="map-container">
        <iframe
          id="iFrame"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.6027326916825!2d46.6729113150004!3d24.81343758407415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2ee3e9c6743a89%3A0x409ce32b323b2d0!2sRiyadh%20Front!5e0!3m2!1sen!2ssa!4v1625555555555!5m2!1sen!2ssa"
          allowfullscreen=""
          loading="lazy"
        >
        </iframe>
      </div>
    </section>
  </div>
  <br />
  <div class="container mt-4">
    <section class="location-section">
      <div class="location-content">
        <h2>Our geographical location 1</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ipsam
          rem, itaque harum nihil accusamus magnam sequi illum odio vero
          asperiores modi laboriosam voluptate blanditiis enim, dolore dolorem
          sunt perspiciatis!
        </p>
        <p>Address: Medina Street, Riyadh, Kingdom of Saudi Arabia</p>
        <p>Phone: +966 112 345 678</p>
        <p>E-mail: info&#64;example.com</p>
      </div>
    </section>

    <section class="map-section">
      <div class="map-container">
        <iframe
          id="iFrame"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.6027326916825!2d46.6729113150004!3d24.81343758407415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2ee3e9c6743a89%3A0x409ce32b323b2d0!2sRiyadh%20Front!5e0!3m2!1sen!2ssa!4v1625555555555!5m2!1sen!2ssa"
          allowfullscreen=""
          loading="lazy"
        >
        </iframe>
      </div>
    </section>
  </div>
  <br />
  <div class="container mt-4">
    <section class="location-section">
      <div class="location-content">
        <h2>Our geographical location 1</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ipsam
          rem, itaque harum nihil accusamus magnam sequi illum odio vero
          asperiores modi laboriosam voluptate blanditiis enim, dolore dolorem
          sunt perspiciatis!
        </p>
        <p>Address: Medina Street, Riyadh, Kingdom of Saudi Arabia</p>
        <p>Phone: +966 112 345 678</p>
        <p>E-mail: info&#64;example.com</p>
      </div>
    </section>

    <section class="map-section">
      <div class="map-container">
        <iframe
          id="iFrame"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.6027326916825!2d46.6729113150004!3d24.81343758407415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2ee3e9c6743a89%3A0x409ce32b323b2d0!2sRiyadh%20Front!5e0!3m2!1sen!2ssa!4v1625555555555!5m2!1sen!2ssa"
          allowfullscreen=""
          loading="lazy"
        >
        </iframe>
      </div>
    </section>
  </div>
</div>
<!-- Before Footer -->
