<div class="rooms py-5">
  <div class="container">
    <h1 class="mb-4"><i class="bi bi-buildings"></i>&nbsp; {{hotelName}} &colon; Rooms</h1>
    <div class="row align-items-center justify-content-between">
      @for (room of rooms; track $index) {
      <div class="p-2 col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="hotel-box">
          <div class="hotel-img">
            <img src="assets/images/hotel-view.jpg" alt="hotel preview here" />
          </div>
          <div class="hotel-info px-3 py-4">
            <h4 class="m-3">
              <i class="bi bi-buildings"></i> &nbsp; {{ room.roomType }}
            </h4>
            <h4 class="m-3">
              <i class="bi bi-geo-alt"></i> &nbsp; {{ room.class }}
            </h4>
            <h4 class="m-3">
              <i class="bi bi-geo-alt"></i> &nbsp; {{ room.count }}
            </h4>
            <button class="hotel-btn m-2" routerLink="../roomview/" (click)="goToRoom(room._id)">
              Book &UpperRightArrow;
            </button>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
