<div class="bg-art-one py-5">
  <div class="main container">
    <p>query works !!</p>
    <table class="table table-bordered m-0">
      <thead>
        <tr>
          <!-- <td>user</td> -->
          <td>userName</td>
          <td>userMail</td>
          <td>userPhone</td>
          <!-- <td>hotel</td> -->
          <td>hotelName</td>
          <td>hotelMail</td>
          <td>hotelPhone</td>
        </tr>
      </thead>
      <tbody>
        @for (item of reservations; track $index) {
        <tr>
          <!-- <td>{{ item.user }}</td> -->
          <td>{{ item.userName }}</td>
          <td>{{ item.userMail }}</td>
          <td>{{ item.userPhone }}</td>
          <!-- <td>{{ item.hotel }}</td> -->
          <td>{{ item.hotelName }}</td>
          <td>{{ item.hotelMail }}</td>
          <td>{{ item.hotelPhone }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
