<div class="bg-art-one py-5">
  <div class="main container">
    <h2 class="mb-4">Reservation Query !!</h2>
    <table class="table table-bordered text-center radius m-0">
      <thead>
        <tr>
          <!-- <td>user</td> -->
          <td>User Name</td>
          <td>User Mail</td>
          <td>User Phone</td>
          <!-- <td>hotel</td> -->
          <td>Hotel Name</td>
          <td>Hotel Mail</td>
          <td>Hotel Phone</td>
          <td>Room Type</td>
          <td>Room Price</td>
          <td>Reservation Days</td>
          <td>total</td>
          <td>Edit</td>
        </tr>
      </thead>
      <tbody>
        @for (item of reservations; track $index) {
        <tr>
          <!-- <td>{{ item.user }}</td> -->
          <td>{{ item.userName }}</td>
          <td>{{ item.userMail }}</td>
          <td>{{ item.userPhone }}</td>
          <!-- <td>{{ item.hotel }}</td> -->
          <td>{{ item.hotelName }}</td>
          <td>{{ item.hotelMail }}</td>
          <td>{{ item.hotelPhone }}</td>
          <td>{{ item.roomType }}</td>
          <td>{{ item.roomPrice }}</td>
          <td>{{ item.days.length }}</td>
          <td>{{ item.total }}</td>
          <td><button class="btn btn-primary p-1">Edit</button></td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
