<section class="section-partners p-5 mt-5">
    <div class="container">
      <img class="background-image" src="imgs/2.jpg" />
      <h1 class="text-center text-white m-5">Partners</h1>
      <button class="btn text-white p-10">Explore Our Partners</button>
      <div class="row align-items-center">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="card shadow-sm">
            <div class="row g-0">
              <div class="col-md-6">
                <img
                  src="imgs/c-img-236.jpg"
                  alt="Partner Hotel Image"
                  class="img-fluid rounded-start"
                />
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h2 class="card-title mb-4">
                    Our Trusted Partners in the Hotel Industry
                  </h2>
                  <p class="card-text mb-4">
                    We collaborate with top-tier hotels to offer exceptional
                    services to our clients. Our partnerships ensure high
                    standards of quality and service, providing guests with
                    the best experiences every time they stay.
                  </p>
                  <button class="btn">Learn More</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow-sm">
            <div class="row g-0">
              <div class="col-md-6">
                <img
                  src="imgs/c-img-236.jpg"
                  alt="Partner Hotel Image"
                  class="img-fluid rounded-start"
                />
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h2 class="card-title mb-4">
                    Our Trusted Partners in the Hotel Industry
                  </h2>
                  <p class="card-text mb-4">
                    We collaborate with top-tier hotels to offer exceptional
                    services to our clients. Our partnerships ensure high
                    standards of quality and service, providing guests with
                    the best experiences every time they stay.
                  </p>
                  <button class="btn">Learn More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
   <!----------------------------------------------About Us section---------------------------------------------------------->
   <section id="about" class="py-5">
    <div class="container text-center">
      <h1>About Us</h1>
    </div>
  </section>

  <section class="about-2 py-5 bg-light">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <div class="about-item p-4">
            <i class="bi bi-book display-4"></i>
            <h3>Mission</h3>
            <hr />
            <p>
              connect guests with the finest accommodations worldwide,
              offering convenience, affordability, and excellence in
              hospitality. Whether for business or leisure, we ensure every
              stay feels royal.
            </p>
          </div>
        </div>
        <div class="col-md-4 flex-column flex-lg-row">
          <div class="about-item p-4">
            <i class="bi bi-globe display-4"></i>
            <h3>Vision</h3>
            <hr />
            <p>
              To be the premier online platform for luxury and budget-friendly
              hotel bookings, offering travelers a seamless, personalized, and
              rewarding experience. We envision a world where every journey is
              enriched by exceptional stays, powered by innovation,
              transparency, and customer-centric service.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="about-item p-4">
            <i class="bi bi-pencil display-4"></i>
            <h3>Achievements</h3>
            <hr />
            <p>
              we offer a seamless hotel booking experience with a vast hotel
              network, AI-powered recommendations, exclusive deals, and 24/7
              support. Committed to customer satisfaction and sustainability,
              we ensure every stay is comfortable, convenient, and rewarding.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>