<!-- Start Navbar -->
<div class="nav-bar">
  <div class="cont-fluid">
    <div class="row">
      <div class="logo-sec col col-lg-3 col-md-4 col-sm-8 d-flex">
        <a href="home">
          <img
            class="logo align-self-center"
            src="assets/logos/logo.svg"
            alt="should be the logo"
          />
        </a>
      </div>
      <div class="menu-sec col col-lg-8 col-md-8 col-sm-4 d-flex">
        <div class="menu sm-hide d-flex w-100">
          <ul class="row">
            <li class="col"><a href="home">Home</a></li>
            <li class="col"><a href="services">Services</a></li>
            <li class="col"><a href="locations">Locations</a></li>
            <li class="col"><a href="hotels">Hotels</a></li>
            <li class="col"><a href="res-query">Reservation</a></li>
            <li class="col"><a href="about">Partners</a></li>
          </ul>
        </div>
        <div class="user dropdown">
          <a href="user-sign">
            <i class="bi bi-person-circle dropdown-toggle sm-hide"> </i>
          </a>
          <i
            class="bi bi-list navbar-toggler d-none sm-show"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
          >
          </i>
          <div
            class="sidebar offcanvas offcanvas-start shadow-none"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <!-- Sidebar header -->
            <div class="offcanvas-header text-white border-bottom">
              <img
                class="logo"
                src="./assets/logos/logo.svg"
                alt="Company Logo"
              />
              <button
                type="button"
                class="btn-close btn-close-black shadow-none"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div
              class="offcanvas-body d-flex flex-column flex-lg-row p-3 p-lg-0"
            >
              <ul
                class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3"
              >
                <li class="nav-item ms-4 mx-2">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Home</a
                  >
                </li>
                <li class="nav-item ms-4 mx-2">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Services</a
                  >
                </li>
                <li class="nav-item ms-4 mx-2">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Hotels</a
                  >
                </li>
                <li class="nav-item ms-4 mx-2">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Reservation</a
                  >
                </li>
                <li class="nav-item ms-4 mx-2">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Partners</a
                  >
                </li>
                <li class="nav-item ms-4 mx-2">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="About-us.html"
                    >About Us</a
                  >
                </li>
                <hr />
                <li class="nav-item ms-4 mx-2">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Log In</a
                  >
                </li>
                <li class="nav-item ms-4 mx-2">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Sign Up</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="nav-holder"></div>
<!-- End Navbar -->
