.container h1 {
  color: #003366;
  margin-top: 50px;
  font-family: cursive;
  text-align: center;
}

.details-container {
  background-color: rgb(207, 206, 206);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr)); /* 4 في الصف */
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  border-radius: 10%;
}

.details-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
}

.details-icon {
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}

.details-icon i {
  font-size: 40px;
  color: #003366;
}

.details-label {
  font-size: 20px;
  color: #003366;
  margin-top: 10px;
}

.details-value {
  font-size: 18px;
  color: #6b90b5;
}

/* تحسين الكاروسيل */
.carousel-image-container {
  overflow: hidden;
  height: 450px;
  border-radius: 20px;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

#carouselExampleCaptions {
  margin-top: 30px;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
